body {
    height: 100%;
}

.day {
    background-image: url('clouds.gif');
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.night {
    background-image: url('night.gif');
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}